@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-text.min.css");
#hydrogen-hr-exit-interview-header {
  transition: all 3s linear;
  border: 1px solid #eeecf6;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  font-family: Plus Jakarta Display;
  padding: 24px 24px 0px 24px;
  margin-bottom: 32px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    h4.left {
      font-family: Plus Jakarta Display;
      font-weight: 500;
      font-size: 20px;
      color: #14213d;
    }
    div.flex {
      display: flex;
    }
    .select {
      border: 1px solid #a1a6b1;
      border-radius: 4px;
      padding: 8px 32px 8px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      position: relative;
      margin-right: 16px;
      span {
        font-family: Plus Jakarta Text;
        font-weight: normal;
        font-size: 14px;
        color: #727a8b;
      }
      .img1 {
        cursor: pointer;
      }
      .option {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 35px;
        left: 0;
        background-color: #fff;
        z-index: 2;
        width: 100%;
        border-radius: 8px;
        padding-top: 8px;
        padding-bottom: 30px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
          0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        .filter {
          padding: 12px 16px;
          cursor: pointer;
          font-size: 14px;
          font-family: Plus Jakarta Text;
        }
        .filter:hover {
          background: #f6f5fa;
          font-weight: bold;
          color: #14213d;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      .select-filter {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        margin-right: 0px;
        height: 40px;
        box-sizing: border-box;
        width: 200px;
        border-radius: 4px;
        border: 1px solid #a1a6b1;
        justify-content: space-between;
        position: relative;
        .option {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 35px;
          left: 0;
          background-color: #fff;
          z-index: 2;
          width: 100%;
          border-radius: 8px;
          padding-top: 8px;
          padding-bottom: 30px;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
            0px 1px 3px 1px rgba(0, 0, 0, 0.15);
          .filter {
            padding: 12px 16px;
            cursor: pointer;
            font-size: 14px;
            font-family: Plus Jakarta Text;
          }
          .filter:hover {
            background: #f6f5fa;
            font-weight: bold;
            color: #14213d;
          }
        }
        .img1 {
          cursor: pointer;
        }
        span {
          font-family: Plus Jakarta Text;
          font-weight: normal;
          font-size: 14px;
          color: #727a8b;
        }
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-header {
      span {
        display: inline-block;
        padding-bottom: 16px;
        margin-right: 22px;
        font-family: Plus Jakarta Text;
        font-style: normal;
        font-size: 14px;
        font-weight: normal;
        color: #727a8b;
        cursor: pointer;
      }
      .active {
        color: $primary;
        font-family: Plus Jakarta Text;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 2px solid $primary;
      }
    }
    .right-header {
      img {
        margin-right: 8px;
      }
      .img2,
      .img4 {
        cursor: pointer;
        color: emerald;
      }
    }
  }
}
#hydrogen-hr-exit-interview {
  #hydrogen-hr-one-on-one-main {
    display: flex;
    margin-bottom: 50px;
    .left {
      width: 288px;
      height: fit-content;
      background-color: #fff;
      padding: 24px 16px 31px 16px;
      border-radius: 8px;
      margin-right: 31px;
      .top {
        display: grid;
        place-items: center;
        img {
          margin-bottom: 32px;
        }
        h1 {
          font-family: "Plus Jakarta Display";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          color: #14213d;
          margin-bottom: 9px;
        }
        h4 {
          font-family: "Plus Jakarta Text";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          color: #727a8b;
          padding-bottom: 32px;
          border-bottom: 1px solid #d0d3d8;
          width: 100%;
          text-align: center;
        }
      }
      .bottom {
        margin-top: 16px;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font-family: "Plus Jakarta Text";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            color: #434d64;
          }
        }
        h4 {
          font-family: "Plus Jakarta Text";
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          color: #727a8b;
        }
      }
    }
    .right {
      width: calc(100% - 288px - 31px);
      .hydrogen-hr-goals-table-responsive {
        margin-top: 24px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin-bottom: 50px;
        max-height: 70vh;
        background-color: #fff;
        border-radius: 8px;
        overflow-y: scroll;
        .infinite-scroll {
          scrollbar-width: none;
          -ms-overflow-style: none;
          .table-view {
            background-color: #fff;
            border-radius: 8px;
            min-width: 100%;
            thead tr {
              th {
                font-size: 12px;
                font-weight: 600;
                line-height: 16.8px;
                height: 77px;
                padding: 0 1rem;
                border: none;
                font-family: Plus Jakarta Display;
                color: $lightPurple;
                border-bottom: 1px solid $borderGrey;
                vertical-align: middle;
              }
            }
            tbody tr {
              td {
                min-width: 150px;
                font-family: Plus Jakarta Text;
                font-weight: normal;
                font-size: 12px;
                color: $textGrey;
                height: 72px;
                padding: 0 1rem;
                border-bottom: 1px solid $borderGreyLight;
                vertical-align: middle;
                white-space: nowrap;
              }
              td.work {
                color: #03d858;
              }
              td.personal {
                color: #f3aa1c;
              }
              td.ongoing span {
                border-radius: 4px;
                color: #f3aa1c;
                background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0.9),
                    rgba(255, 255, 255, 0.9)
                  ),
                  #f3aa1c;
                border: 1px solid #f3aa1c;
                font-size: 10px;
                line-height: 140%;
                font-weight: 600;
                padding: 4px 6px;
              }
              td.completed span {
                color: #03d858;
                background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0.9),
                    rgba(255, 255, 255, 0.9)
                  ),
                  #03d858;
                border: 1px solid #03d858;
                font-size: 10px;
                border-radius: 4px;
                line-height: 140%;
                font-weight: 600;
                padding: 4px 6px;
              }
              td.pending span {
                color: #f03738;
                background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0.9),
                    rgba(255, 255, 255, 0.9)
                  ),
                  #f03738;
                border: 1px solid #f03738;
                font-size: 10px;
                line-height: 140%;
                font-weight: 600;
                border-radius: 4px;

                padding: 4px 6px;
              }
              td.employee {
                display: flex;
                align-items: center;
                // justify-content: space-between;
                padding: 16px;
                .name {
                  // display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                }
              }
              td.employee img {
                margin-right: 8px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
              td.employee h4 {
                font-weight: 500;
                font-size: 12px;
                letter-spacing: -0.01em;
                color: #434d64;
                margin-bottom: 0;
              }

              td.employee p {
                font-family: Plus Jakarta Text;
                font-weight: normal;
                font-size: 10px;
                letter-spacing: -0.01em;
                color: #727a8b;
                margin-bottom: 0;
              }
              td.btns {
                font-size: 10px;
                span {
                  padding: 6px 16px;
                  background: #ffffff;
                  border: 1px solid #d0d3d8;
                  border-radius: 2px;
                  margin-right: 4px;
                  cursor: pointer;
                  color: $primary;
                }
              }
            }
          }
        }
        .infinite-scroll::-webkit-scrollbar {
          display: none;
        }
      }
      .hydrogen-hr-goals-table-responsive::-webkit-scrollbar {
        display: none;
      }
      .fixed_Height_fixedLonger {
        height: 70vh;
      }
      h4 {
        font-family: "Plus Jakarta Display";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #434d64;
        margin-bottom: 12px;
      }
      header {
        padding: 0px 0px 12px 0px;
        border-bottom: 1px solid #d0d3d8;
        // background: #fff;
        border-radius: 8px 8px 0px 0px;

        span {
          padding: 0px 0px 12px 0px;
          margin-right: 23px;
          font-family: "Plus Jakarta Display";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #a1a6b1;
        }
        span.active {
          border-bottom: 2px solid $primary;
          font-family: "Plus Jakarta Display";
          font-style: normal;
          font-weight: 400;
          font-size: 14pxp;
          color: $primary;
        }
      }
      #hydrogen-hr-one-on-one-responsive-table {
        margin-top: 24px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        .hydrogen-hr-one-on-one-table {
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          background: #fff;
          width: 100%;
          thead {
            tr {
              th {
                font-size: 12px;
                font-weight: 600px;
                line-height: 16.8px;
                height: 77px;
                padding: 0 1rem;
                border: none;
                color: $lightPurple;
                border-bottom: 1px solid $borderGrey;
                vertical-align: middle;
              }
            }
          }
          tbody {
            font-family: "Plus Jakarta Text";
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            color: #434d64;
            tr {
              td {
                min-width: 150px;
                height: 72px;
                padding: 0 1rem;
                border-bottom: 1px solid $borderGreyLight;
                vertical-align: middle;
                white-space: nowrap;
                font-family: "Plus Jakarta Text";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: #434d64;
              }
              td span.status {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                padding: 4px 20px;
                font-size: 12px;
                background: #fdf9e6;
                border: 1px solid #ecc708;
                border-radius: 4px;
                color: #f3aa1c;
              }
              td span.starts-in {
                font-family: "Plus Jakarta Text";
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                color: #ffffff;
                background: #4abd5c;
                border-radius: 2px;
                padding: 5px 36px;
              }
              td span.starts-in-pending {
                font-family: "Plus Jakarta Text";
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                color: #7d684e;
                border-radius: 2px;
                padding: 5px 36px;
                background: #edad62;
              }
              td.accepted {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: #03d858;
              }
              td.pending {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: #f3aa1c;
              }
              td.btns {
                span {
                  padding: 6px 16px;
                  font-family: "Plus Jakarta Text";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 10px;
                  letter-spacing: -0.01em;
                  color: $primary;
                  background: #ffffff;
                  border: 1px solid #d0d3d8;
                  box-sizing: border-box;
                  border-radius: 2px;
                }
              }
              td.creator {
                display: flex;
                align-items: center;
                div.creator-icon {
                  margin-right: 8px;
                  display: grid;
                  place-items: center;
                  font-family: "Plus Jakarta Display";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 13px;
                  letter-spacing: -0.01em;
                  color: #ffffff;
                  width: 40px;
                  height: 40px;
                  background: #4a64bd;
                  border-radius: 50%;
                  h4 {
                    margin: 0;
                    font-family: "Plus Jakarta Display";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 140%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    letter-spacing: -0.01em;
                    color: #ffffff;
                  }
                }
                div {
                  p {
                    margin: 0;
                    font-family: "Plus Jakarta Text";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 10px;
                    letter-spacing: -0.01em;
                    color: #727a8b;
                  }
                  p.name {
                    font-family: "Plus Jakarta Display";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: -0.01em;
                    color: #434d64;
                  }
                }
              }
            }
          }
        }
      }
      #hydrogen-hr-one-on-one-responsive-table::-webkit-scrollbar {
        display: none;
      }
    }
  }
  #hydrogen-hr-meetings-add {
    padding-top: 44px;
    padding-bottom: 66px;
    .ant-switch-checked {
      background-color: $primary;
    }
    .upload-section {
      display: grid;
      place-items: center;
      border: 2px dashed #a1a6b1;
      border-radius: 8px;
      padding: 35px;
      margin-bottom: 50px;
      img {
        margin-bottom: 12px;
      }
      h4 {
        margin-bottom: 28.5px;
        font-family: Plus Jakarta Display;
        font-weight: 500;
        font-size: 16px;
        color: #14213d;
      }

      .click {
        cursor: pointer;
        font-family: Plus Jakarta Text;
        font-weight: normal;
        font-size: 14px;
        color: $primary;
      }
    }
    div.ant-select {
      margin-bottom: 16px !important;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
    }
    .ant-select-selector {
      border: 1px solid #ced4da !important;

      box-shadow: none !important;
      .ant-select-selection-search {
        .ant-select-selection-search-input {
          border: none !important;
        }
      }
      .ant-select-selection-search:focus {
        border: none !important;
      }
      .ant-select-selection-search-input:focus {
        border: none !important;
      }
    }
    .ant-select-selector:hover {
      border-color: #ced4da !important;
      box-shadow: none !important;
    }
    .ant-select-selection {
      box-shadow: none !important;
    }
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active,
    .ant-select-open .ant-select-selection {
      border-color: #d9d9d9;
      box-shadow: none;
    }
    .ant-select-open {
      box-shadow: none !important;
    }
    div.ant-picker {
      outline: none !important;
      box-shadow: none !important;
      border-color: #d9d9d9 !important;
      margin-bottom: 16px;
      // border: none !important;
    }
    div.ant-picker-input {
      input {
        border: none !important;
      }
      input:focus {
        border: none !important;
      }
    }
    div.ant-picker:focus {
      border-color: #d9d9d9 !important;
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:hover {
      border-color: #d9d9d9 !important;
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:focus {
      outline: none !important;
      box-shadow: none !important;
      border: 1px solid #d9d9d9 !important;
    }
    div.dates {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .start-date,
      .end-date {
        width: 48%;
      }
    }
    div.times {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .start-time,
      .end-time {
        width: 48%;
      }
    }
    p {
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #727a8b;
      margin-bottom: 8px;
    }
    div.ant-picker.ant-picker-large {
      width: 100% !important;
      transition: none !important;
      margin-bottom: 16px !important;
      outline: none !important;
    }
    div.ant-picker.ant-picker-large:hover {
      border: 1px solid #d9d9d9;
    }
    div.ant-picker.ant-picker-large:focus {
      outline: none !important;
    }
    div.ant-picker-input input:focus {
      outline: none !important;
      border: none !important;
    }
    .ant-picker-focused {
      border-color: #d9d9d9 !important;
    }
    p.error {
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: emerald;
    }
    div.ant-picker {
      height: 40px !important;
      outline: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    div.tag-container {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 10px;
      div.tag {
        display: flex;
        align-items: center;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: $primary;
        padding: 6px 12px;
        background-color: #eeecf6;
        border: none;
        border-radius: 2px;
        margin-right: 16px;
        margin-bottom: 8px;
        span {
          margin-right: 10px;
          cursor: pointer;
        }
      }
      input {
        border: none !important;
        flex: 1;
        outline: none !important;
        padding: 5;
      }
      input:focus {
        border: none !important;
        outline: none !important;
      }
    }
    div.react-select {
      -ms-overflow-style: none;
      scrollbar-width: none;
      font-family: Plus Jakarta Text;
      font-weight: normal;
      font-size: 14px;
      color: #727a8b;
      div.css-12jo7m5.select__multi-value__label {
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: $primary;
        padding: 6px 12px;
        background-color: #eeecf6;
        border: none;
        border-radius: 2px;
      }
    }
    div.react-select::-webkit-scrollbar {
      display: none;
    }
    div.btn-container {
      margin-top: 66px;
      display: flex;
      align-items: center;
      justify-content: right;
      .cancel {
        background: #fff;
        border-radius: 4px;
        padding: 19.5px 24px;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: $primary;
        border-radius: 4px;
        border: 2px solid $primary;
        margin-right: 24px;
      }
      .add {
        background: $primary;
        border-radius: 4px;
        padding: 19.5px 24px;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        border-radius: 4px;
      }
    }
    .controlDropdown {
      margin-bottom: 16px !important;
      position: relative !important;
      min-width: 100% !important;
    }
    .dropdown-menu.show {
      position: absolute !important;
      width: 100% !important;
    }
    .dropdown-item:focus {
      box-shadow: none !important;
      background: none !important;
      color: #212529 !important;
    }

    input {
      outline: none !important;
      box-shadow: none !important;
    }
    input:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    select {
      position: relative !important;
      outline: none !important;
      box-shadow: none !important;
      padding-right: 12px !important;
    }
    select:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    textarea {
      outline: none !important;
      box-shadow: none !important;
      padding-right: 12px !important;
      min-height: 80px !important;
    }
    textarea:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    .btn-container {
      margin-top: 36px;
      margin-bottom: 72px;
      display: grid;
      place-items: center;
    }
  }

  #hydrogen-hr-meetings-add {
    padding-top: 44px;
    padding-bottom: 66px;
    .ant-switch-checked {
      background-color: $primary;
    }
    .upload-section {
      display: grid;
      place-items: center;
      border: 2px dashed #a1a6b1;
      border-radius: 8px;
      padding: 35px;
      margin-bottom: 50px;
      img {
        margin-bottom: 12px;
      }
      h4 {
        margin-bottom: 28.5px;
        font-family: Plus Jakarta Display;
        font-weight: 500;
        font-size: 16px;
        color: #14213d;
      }

      .click {
        cursor: pointer;
        font-family: Plus Jakarta Text;
        font-weight: normal;
        font-size: 14px;
        color: $primary;
      }
    }
    div.ant-select {
      margin-bottom: 16px !important;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
    }
    .ant-select-selector {
      border: 1px solid #ced4da !important;

      box-shadow: none !important;
      .ant-select-selection-search {
        .ant-select-selection-search-input {
          border: none !important;
        }
      }
      .ant-select-selection-search:focus {
        border: none !important;
      }
      .ant-select-selection-search-input:focus {
        border: none !important;
      }
    }
    .ant-select-selector:hover {
      border-color: #ced4da !important;
      box-shadow: none !important;
    }
    .ant-select-selection {
      box-shadow: none !important;
    }
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active,
    .ant-select-open .ant-select-selection {
      border-color: #d9d9d9;
      box-shadow: none;
    }
    .ant-select-open {
      box-shadow: none !important;
    }
    div.ant-picker {
      outline: none !important;
      box-shadow: none !important;
      border-color: #d9d9d9 !important;
      margin-bottom: 16px;
      // border: none !important;
    }
    div.ant-picker-input {
      input {
        border: none !important;
      }
      input:focus {
        border: none !important;
      }
    }
    div.ant-picker:focus {
      border-color: #d9d9d9 !important;
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:hover {
      border-color: #d9d9d9 !important;
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:focus {
      outline: none !important;
      box-shadow: none !important;
      border: 1px solid #d9d9d9 !important;
    }
    div.dates {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .start-date,
      .end-date {
        width: 48%;
      }
    }
    div.times {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .start-time,
      .end-time {
        width: 48%;
      }
    }
    p {
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #727a8b;
      margin-bottom: 8px;
    }
    div.ant-picker.ant-picker-large {
      width: 100% !important;
      transition: none !important;
      margin-bottom: 16px !important;
      outline: none !important;
    }
    div.ant-picker.ant-picker-large:hover {
      border: 1px solid #d9d9d9;
    }
    div.ant-picker.ant-picker-large:focus {
      outline: none !important;
    }
    div.ant-picker-input input:focus {
      outline: none !important;
      border: none !important;
    }
    .ant-picker-focused {
      border-color: #d9d9d9 !important;
    }
    p.error {
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: emerald;
    }
    div.ant-picker {
      height: 40px !important;
      outline: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    div.tag-container {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 10px;
      div.tag {
        display: flex;
        align-items: center;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: $primary;
        padding: 6px 12px;
        background-color: #eeecf6;
        border: none;
        border-radius: 2px;
        margin-right: 16px;
        margin-bottom: 8px;
        span {
          margin-right: 10px;
          cursor: pointer;
        }
      }
      input {
        border: none !important;
        flex: 1;
        outline: none !important;
        padding: 5;
      }
      input:focus {
        border: none !important;
        outline: none !important;
      }
    }
    div.react-select {
      -ms-overflow-style: none;
      scrollbar-width: none;
      font-family: Plus Jakarta Text;
      font-weight: normal;
      font-size: 14px;
      color: #727a8b;
      div.css-12jo7m5.select__multi-value__label {
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: $primary;
        padding: 6px 12px;
        background-color: #eeecf6;
        border: none;
        border-radius: 2px;
      }
    }
    div.react-select::-webkit-scrollbar {
      display: none;
    }
    div.btn-container {
      margin-top: 66px;
      display: flex;
      align-items: center;
      justify-content: right;
      .cancel {
        background: #fff;
        border-radius: 4px;
        padding: 19.5px 24px;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: $primary;
        border-radius: 4px;
        border: 2px solid $primary;
        margin-right: 24px;
      }
      .add {
        background: $primary;
        border-radius: 4px;
        padding: 19.5px 24px;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        border-radius: 4px;
      }
    }
    .controlDropdown {
      margin-bottom: 16px !important;
      position: relative !important;
      min-width: 100% !important;
    }
    .dropdown-menu.show {
      position: absolute !important;
      width: 100% !important;
    }
    .dropdown-item:focus {
      box-shadow: none !important;
      background: none !important;
      color: #212529 !important;
    }

    input {
      outline: none !important;
      box-shadow: none !important;
    }
    input:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    select {
      position: relative !important;
      outline: none !important;
      box-shadow: none !important;
      padding-right: 12px !important;
    }
    select:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    textarea {
      outline: none !important;
      box-shadow: none !important;
      padding-right: 12px !important;
      min-height: 80px !important;
    }
    textarea:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    .btn-container {
      margin-top: 36px;
      margin-bottom: 72px;
      display: grid;
      place-items: center;
    }
  }
}

#hydrogen-hr-exit-interview-main {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 40px;
  margin-bottom: 50px;
  .table-view {
    thead {
      th {
        font-size: 12px;
        font-weight: 600px;
        line-height: 16.8px;
        height: 77px;
        padding: 0 1rem;
        border: none;
        color: $lightPurple;
        border-bottom: 1px solid $borderGrey;
        vertical-align: middle;
      }
    }
    tbody {
      td {
        min-width: 150px;
        font-size: 14px;
        color: $textGrey;
        height: 72px;
        padding: 0 1rem;
        border-bottom: 1px solid $borderGreyLight;
        vertical-align: middle;
        white-space: nowrap;
      }
      td.employee {
        display: flex;
        align-items: center;
        img {
          margin-right: 8px;
        }
        .name {
          h4 {
            font-family: "Plus Jakarta Display";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: -0.01em;
            color: #434d64;
            margin: 0;
          }
          p {
            font-family: "Plus Jakarta Text";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: -0.01em;
            color: #727a8b;
            margin: 0;
          }
        }
      }
      td.btns {
        span {
          font-family: "Plus Jakarta Text";
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          letter-spacing: -0.01em;
          color: #14213d;
          padding: 6px 16px;
        }
      }
      td.status {
        background-color: #fff;
        span {
          font-family: "Plus Jakarta Display";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          letter-spacing: -0.01em;
          color: #3cc13b;
          padding: 4px 8px;
          border: 2px solid;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.9),
              rgba(255, 255, 255, 0.9)
            ),
            #3cc13b;
          border-radius: 4px;
        }
      }
    }
  }
}
#hydrogen-hr-exit-interview-main::-webkit-scrollbar {
  display: none;
}
#hydrogen-hr-exit-interview-view-answers {
  margin-bottom: 50px;
  .back {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    img {
      margin-right: 12px;
    }
    p {
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: $primary;
      margin: 0;
    }
  }
  .header {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    .left {
      width: 40%;
      padding: 24px;
      background: #14213d;
      border-radius: 8px;
      display: flex;
      align-items: center;
      height: 116px;
      img {
        margin-right: 18px;
      }
      div h4 {
        font-family: "Plus Jakarta Display";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #ffffff;
        margin: 0;
        margin-bottom: 4px;
      }
      div p {
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #a1a6b1;
        margin: 0;
      }
    }
    .right {
      width: 60%;
      height: 88px;
      padding: 25px 42px;
      background: #ffffff;
      border: 1px solid #eeecf6;
      border-radius: 8px;
      display: flex;
      align-items: center;
      aside {
        padding-right: 32px;
        padding-left: 32px;
        border-right: 1px solid #d0d3d8;
        p {
          font-family: "Plus Jakarta Text";
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          letter-spacing: -0.01em;
          color: #727a8b;
          margin: 0;
        }
        h4 {
          font-family: "Plus Jakarta Display";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          color: #14213d;
          margin: 0;
        }
      }
    }
  }
  .body {
    width: 60%;
    margin: 0 auto;
    padding: 45px;
    border: 1px solid #eeecf6;
    border-radius: 8px;
    background: #fff;
    section {
      padding: 16px 24px;
      border: 1px solid #eeecf6;
      border-radius: 8px;
      margin-bottom: 20px;
      h4 {
        font-family: "Plus Jakarta Display";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #14213d;
      }
      p {
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #434d64;
      }
      div {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        img {
          margin-right: 12px;
        }
        span {
          font-family: "Plus Jakarta Text";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #727a8b;
        }
        span.selected {
          font-family: "Plus Jakarta Text";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #14213d;
        }
      }
    }
  }
}
.add-interview-group,
.add-usergroup-comp-seetings {
  padding-top: 44px;
  padding-bottom: 66px;
  p {
    font-family: "Plus Jakarta Text";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #727a8b;
  }
  div.btn-container {
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .cancel {
      background: #fff;
      border-radius: 4px;
      padding: 19.5px 24px;
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: $primary;
      border-radius: 4px;
      border: 2px solid $primary;
      margin-right: 24px;
    }
    .add {
      background: $primary;
      border-radius: 4px;
      padding: 19.5px 24px;
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: #ffffff;
      border-radius: 4px;
    }
  }
  div.ant-select {
    margin-bottom: 16px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
  }
  div.ant-picker {
    height: 40px !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: #d9d9d9 !important;
  }

  div.ant-picker:focus {
    border-color: #d9d9d9 !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  div.ant-picker:hover {
    border-color: #d9d9d9 !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  div.ant-picker:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #d9d9d9 !important;
  }
  div.ant-picker-range {
    height: 40px !important;
    outline: none !important;
    box-shadow: none !important;
  }
  div.ant-picker-range:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  div.ant-picker-range:hover {
    border: 1px solid #ced4da;
  }
  .ant-select-selector {
    border: 1px solid #ced4da !important;

    box-shadow: none !important;
    .ant-select-selection-search {
      .ant-select-selection-search-input {
        border: none !important;
      }
    }
    .ant-select-selection-search:focus {
      border: none !important;
    }
    .ant-select-selection-search-input:focus {
      border: none !important;
    }
  }
  .ant-select-selector:hover {
    border-color: #ced4da !important;
    box-shadow: none !important;
  }
  .ant-select-selection {
    box-shadow: none !important;
  }
  p.error {
    font-family: "Plus Jakarta Text";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: emerald;
  }
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active,
  .ant-select-open .ant-select-selection {
    border-color: #d9d9d9;
    box-shadow: none;
  }
  .ant-select-open {
    box-shadow: none !important;
  }
}
