#NoInternet {
  width: 100%;
  height: auto;
  position: relative;
  background-color: $creamWhite;
  display: grid;
  place-items: center;
  margin-top: 2rem;
  margin-top: 100px;
}

.contn {
  width: 50%;
  margin: 0 auto;
  height: 40rem;
  position: relative;
  display: flex;
  align-items: center;

  $breakpoint-tablet: 468px;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  .top {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    margin: 0 2rem;

    .phone {
      width: 180px;
      margin-right: 0.5rem;
      background-image: url('../../../components/common/NoNetWrk/phone.svg');
      background-repeat: no-repeat;
      z-index: 2;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: fit-content;
    background-color: white;
    border: 1px solid #eeecf6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .title {
      font-size: 40px;
      font-weight: 400;
      columns: $lightPurple;
    }

    .cardP {
      font-size: 14px;
      font-weight: 700;
      color: $textGrey;
      text-align: center;
      position: relative;

      .text-center {
        display: inline;
        text-align: center;
      }
    }
  }
}
