#polls {
  #hydrogen-hr-meetings-add {
    padding-top: 44px;
    padding-bottom: 66px;
    .ant-switch-checked {
      background-color: $primary;
    }
    .upload-section {
      display: grid;
      place-items: center;
      border: 2px dashed #a1a6b1;
      border-radius: 8px;
      padding: 35px;
      margin-bottom: 50px;
      img {
        margin-bottom: 12px;
      }
      h4 {
        margin-bottom: 28.5px;
        font-family: Plus Jakarta Display;
        font-weight: 500;
        font-size: 16px;
        color: #14213d;
      }

      .click {
        cursor: pointer;
        font-family: Plus Jakarta Text;
        font-weight: normal;
        font-size: 14px;
        color: $primary;
      }
    }
    div.ant-select {
      margin-bottom: 16px !important;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
    }
    .ant-select-selector {
      border: 1px solid #ced4da !important;

      box-shadow: none !important;
      .ant-select-selection-search {
        .ant-select-selection-search-input {
          border: none !important;
        }
      }
      .ant-select-selection-search:focus {
        border: none !important;
      }
      .ant-select-selection-search-input:focus {
        border: none !important;
      }
    }
    .ant-select-selector:hover {
      border-color: #ced4da !important;
      box-shadow: none !important;
    }
    .ant-select-selection {
      box-shadow: none !important;
    }
    .ant-select-focused .ant-select-selection,
    .ant-select-selection:focus,
    .ant-select-selection:active,
    .ant-select-open .ant-select-selection {
      border-color: #d9d9d9;
      box-shadow: none;
    }
    .ant-select-open {
      box-shadow: none !important;
    }
    div.ant-picker {
      outline: none !important;
      box-shadow: none !important;
      border-color: #d9d9d9 !important;
      margin-bottom: 16px;
      // border: none !important;
    }
    div.ant-picker-input {
      input {
        border: none !important;
      }
      input:focus {
        border: none !important;
      }
    }
    div.ant-picker:focus {
      border-color: #d9d9d9 !important;
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:hover {
      border-color: #d9d9d9 !important;
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:focus {
      outline: none !important;
      box-shadow: none !important;
      border: 1px solid #d9d9d9 !important;
    }
    div.dates {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .start-date,
      .end-date {
        width: 48%;
      }
    }
    div.times {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .start-time,
      .end-time {
        width: 48%;
      }
    }
    p {
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #727a8b;
      margin-bottom: 8px;
    }
    div.ant-picker.ant-picker-large {
      width: 100% !important;
      transition: none !important;
      margin-bottom: 16px !important;
      outline: none !important;
    }
    div.ant-picker.ant-picker-large:hover {
      border: 1px solid #d9d9d9;
    }
    div.ant-picker.ant-picker-large:focus {
      outline: none !important;
    }
    div.ant-picker-input input:focus {
      outline: none !important;
      border: none !important;
    }
    .ant-picker-focused {
      border-color: #d9d9d9 !important;
    }
    p.error {
      font-family: "Plus Jakarta Text";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: emerald;
    }
    div.ant-picker {
      height: 40px !important;
      outline: none !important;
      box-shadow: none !important;
    }
    div.ant-picker:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    div.tag-container {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      padding: 10px;
      div.tag {
        display: flex;
        align-items: center;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: $primary;
        padding: 6px 12px;
        background-color: #eeecf6;
        border: none;
        border-radius: 2px;
        margin-right: 16px;
        margin-bottom: 8px;
        span {
          margin-right: 10px;
          cursor: pointer;
        }
      }
      input {
        border: none !important;
        flex: 1;
        outline: none !important;
        padding: 5;
      }
      input:focus {
        border: none !important;
        outline: none !important;
      }
    }
    div.react-select {
      -ms-overflow-style: none;
      scrollbar-width: none;
      font-family: Plus Jakarta Text;
      font-weight: normal;
      font-size: 14px;
      color: #727a8b;
      div.css-12jo7m5.select__multi-value__label {
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.01em;
        color: $primary;
        padding: 6px 12px;
        background-color: #eeecf6;
        border: none;
        border-radius: 2px;
      }
    }
    div.react-select::-webkit-scrollbar {
      display: none;
    }
    div.btn-container {
      margin-top: 66px;
      display: flex;
      align-items: center;
      justify-content: right;
      .cancel {
        background: #fff;
        border-radius: 4px;
        padding: 19.5px 24px;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: $primary;
        border-radius: 4px;
        border: 2px solid $primary;
        margin-right: 24px;
      }
      .add {
        background: $primary;
        border-radius: 4px;
        padding: 19.5px 24px;
        font-family: "Plus Jakarta Text";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        border-radius: 4px;
      }
    }
    .controlDropdown {
      margin-bottom: 16px !important;
      position: relative !important;
      min-width: 100% !important;
    }
    .dropdown-menu.show {
      position: absolute !important;
      width: 100% !important;
    }
    .dropdown-item:focus {
      box-shadow: none !important;
      background: none !important;
      color: #212529 !important;
    }

    input {
      outline: none !important;
      box-shadow: none !important;
    }
    input:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    select {
      position: relative !important;
      outline: none !important;
      box-shadow: none !important;
      padding-right: 12px !important;
    }
    select:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    textarea {
      outline: none !important;
      box-shadow: none !important;
      padding-right: 12px !important;
      min-height: 80px !important;
    }
    textarea:focus {
      border: none !important;
      outline: none !important;
      border: 1px solid #ced4da !important;
    }
    .btn-container {
      margin-top: 36px;
      margin-bottom: 72px;
      display: grid;
      place-items: center;
    }
  }
  width: 100%;
  background-color: $creamWhite;
  height: 100%;

  .left {
    font-size: 20px;
    font-weight: 500;
    color: $lightPurple;
  }

  .pollsCard {
    .textLight {
      font-size: 12px;
      font-weight: 400;
      color: $textGrey2;
    }

    .dot {
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $textGrey2;
    }

    .cardBadge {
      padding: 4px 8px !important;
      font-size: 10px;
      font-weight: 400;

      &.ongoing {
        color: #3cc13b;
        border: 1px solid #3cc13b;
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
          ),
          #3cc13b;
        border-radius: 4px;
      }

      &.concluded {
        color: #3e66fb;
        border: 1px solid #3e66fb;
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
          ),
          #3e66fb;
        border-radius: 4px;
      }
    }

    .cardDesc {
      font-size: 14px;
      font-weight: 700;
      color: $lightPurple;
    }
  }

  .addModal {
    .questions {
      .questionH {
        font-size: 16px;
        font-weight: 400;
        color: $lightPurple;
      }
      .divider {
        border-bottom: 1px dashed #d0d3d8;
      }
    }
  }

  .goBack {
    font-size: 14px;
    font-weight: 400;
    color: $primary;
  }

  .questionSummary {
    .iconsText {
      font-size: 10px;
      font-weight: 400;
      color: $textGrey2;
      margin-left: 0.5rem;
    }

    .cardH {
      font-size: 14px;
      font-weight: 700;
      color: $lightPurple;
    }

    .cardP {
      font-size: 14px;
      font-weight: 400;
      color: $textGrey;
    }
  }

  .pollsResultSummary {
    .title {
      font-size: 18px;
      font-weight: 400;
      color: $primary;
    }

    .cardH {
      font-size: 14px;
      font-weight: 700;
      color: $lightPurple;
    }

    .cardP {
      font-size: 14px;
      font-weight: 400;
      color: $textGrey;
    }

    .statDesc {
      font-size: 14px;
      font-weight: 400;
      color: $textGrey2;
    }

    .statValue {
      font-size: 28px;
      font-weight: 700;
      color: $lightPurple;
    }

    .diagHeader {
      font-size: 14px;
      font-weight: 700;
      color: $textGrey;
    }
  }

  .votingCard {
    .header {
      position: relative;
      height: 67px;

      .bgNumber {
        position: absolute;
        left: 0;
        font-size: 56px;
        font-weight: 700;
        font-family: "Plus Jakarta Display";
        color: rgba($color: #000000, $alpha: 0.1);
      }

      .cardH {
        font-size: 20px;
        font-weight: 400;
        color: $lightPurple;
        line-height: 80%;
      }
    }

    .optionSection {
      .optionItem {
        border: 1px solid #eeecf6;
        cursor: pointer;

        &.active {
          border: none;
          background-color: $bgGrey;
        }

        .selectSpan {
          width: 20px;
          height: 20px;
          border: 1px solid #7467b6;
          background-color: transparent;
          border-radius: 50%;

          &.active {
            background-color: $primary;
            border: none;
          }
        }

        .optionName {
          font-size: 14px;
          font-weight: 400;
          color: $lightPurple;
        }
      }
    }
  }
}
